<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Это наши работники</h1>
        <div class="workers">
            {% if worker %}
                <img src="{{ worker.image_url }}">
                <div>{{ worker.name }}</div>
            {% else %}
                <p>No worker found</p>
            {% endif %}
        </div>
    </header>

    <a href="/register">Register</a>
    <a href="/login">Login</a>
</body>
</html>